@using EventAppEFCore.Pages.Events;
@model DetailsModel

<div class="row input-group">   
       <form method="post" asp-page-handler="Pvt">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="PrivateParticipant.FName" class="control-label"></label>
                </div>
                <div class="col-md-4">
                    <input asp-for="PrivateParticipant.FName" class="form-control" />
                    <span asp-validation-for="PrivateParticipant.FName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row pt-2">
                <div class="col-md-2">
                    <label asp-for="PrivateParticipant.LName" class="control-label"></label>
                </div>
                <div class="col-md-4">
                    <input asp-for="PrivateParticipant.LName" class="form-control" />
                    <span asp-validation-for="PrivateParticipant.LName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row pt-2">
                <div class="col-md-2">
                    <label asp-for="PrivateParticipant.PersonalIdNumber" class="control-label"></label>
                </div>
                <div class="col-md-4">
                    <input asp-for="PrivateParticipant.PersonalIdNumber" class="form-control" />
                    <span asp-validation-for="PrivateParticipant.PersonalIdNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row pt-2">
                <div class="col-md-2">
                    <label asp-for="PrivateParticipant.PaymentType" class="control-label"></label>
                </div>
                <div class="col-md-4">
                    <input asp-for="PrivateParticipant.PaymentType" class="form-control" />
                    <span asp-validation-for="PrivateParticipant.PaymentType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row pt-2">
                <div class="col-md-2">
                    <label asp-for="PrivateParticipant.AdditionalInfo" class="control-label"></label>
                </div>
            <div class="col-md-4">
                <textarea class="form-control" rows="2" asp-for="PrivateParticipant.AdditionalInfo"></textarea>
                <span asp-validation-for="PrivateParticipant.AdditionalInfo" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-2 d-flex justify-content-between pt-2">
                <a class="btn btn-secondary" asp-page="./Index">Tagasi</a>
                <input type="submit" value="Salvesta" class="btn btn-primary" />
            </div>
        </form>
</div>
