<footer class="footer">
    <div class="row fs-2 pt-4">
        <div class="col-md-2 offset-md-2">
                <p>Curabitur</p>
            </div>
            <div class="col-md-2">
                <p>Fusce</p>
            </div>
            <div class="col-md-auto">
                <p>Kontakt</p>
            </div>
        </div>
    <div class="row lh-2">
        <div class="col-md-2 offset-md-2">
            <p><strong>Emauris</strong></p>
                <p>Kfringilla</p>
                <p>Oin magna sem</p>
                <p>Kelementum</p>
        </div>
        <div class="col-md-2">
                <p><strong>Econsectetur</strong></p>
                <p>Ksollicitudin</p>
                <p>Omvulputate</p>
                <p>Nunc fringilla tellu</p>
        </div>
        <div class="col-md-2">
                <p><strong>Peakontor: Tallinnas</strong></p>
                <p>Väike-Ameerika 1 Tallinn</p>
                <p>Telefon: 605 4450</p>
                <p>Faks: 605 3186</p>
        </div>
        <div class="col-md-2">
                <p><strong>Harukontor: Võrus</strong></p>
                <p>Oja tn 7 (külastusaadress)</p>
                <p>Telefon: 605 3330</p>
                <p>Faks: 605 3155</p>
        </div>
        </div>
</footer>