@page
@model EventAppEFCore.Pages.Events.CreateModel

@{
    ViewData["Title"] = "Ürituse lisamine";
}
<div class="container">
    <div class="row libled">
        <div class="col-md-2 createhero">
            <span class="align-middle">Ürituse lisamine</span>
        </div>       
    </div>
</div>
<div class="container mb-3 py-4 bg-white">
    <div class="row">
    <div class="offset-md-2">
<h4 class="bluetext pt-3">Ürituse lisamine</h4>
<br />
    <div class="row input-group">
        <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="EventInfo.EventName" class="control-label"></label>
            </div>
            <div class ="col-md-4">
                <input asp-for="EventInfo.EventName" class="form-control" />
                <span asp-validation-for="EventInfo.EventName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row pt-2">
            <div class="col-md-2">
                <label asp-for="EventInfo.EventDate" class="control-label"></label>
            </div>
            <div class="col-md-4">
                <input asp-for="EventInfo.EventDate" class="form-control" />
                <span asp-validation-for="EventInfo.EventDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row pt-2">
            <div class="col-md-2">
                <label asp-for="EventInfo.EventLocation" class="control-label"></label>
            </div>
            <div class="col-md-4">
                <input asp-for="EventInfo.EventLocation" class="form-control" />
                <span asp-validation-for="EventInfo.EventLocation" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row pt-2">
            <div class="col-md-2">
                <label asp-for="EventInfo.EventMemo" class="control-label"></label>
            </div>
            <div class="col-md-4">
                <textarea asp-for="EventInfo.EventMemo" class="form-control" rows="2"></textarea>
                <span asp-validation-for="EventInfo.EventMemo" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="col-md-2 d-flex justify-content-between pt-2">
            <a class="btn btn-secondary" asp-page="./Index">Tagasi</a>
            <input type="submit" value="Lisa" class="btn btn-primary" />
        </div>
        </form>
        </div>
        </div>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
