@page
@model EventAppEFCore.Pages.CoParticipants.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CompanyParticipant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyParticipant.CoCode" class="control-label"></label>
                <input asp-for="CompanyParticipant.CoCode" class="form-control" />
                <span asp-validation-for="CompanyParticipant.CoCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyParticipant.CoName" class="control-label"></label>
                <input asp-for="CompanyParticipant.CoName" class="form-control" />
                <span asp-validation-for="CompanyParticipant.CoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyParticipant.CoParticipants" class="control-label"></label>
                <input asp-for="CompanyParticipant.CoParticipants" class="form-control" />
                <span asp-validation-for="CompanyParticipant.CoParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyParticipant.AdditionalInfo" class="control-label"></label>
                <input asp-for="CompanyParticipant.AdditionalInfo" class="form-control" />
                <span asp-validation-for="CompanyParticipant.AdditionalInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyParticipant.PaymentType" class="control-label"></label>
                <input asp-for="CompanyParticipant.PaymentType" class="form-control" />
                <span asp-validation-for="CompanyParticipant.PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
